
body{
	color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    background-image: url("../images/silverware.jpg");
	background-image: url('https://ssty.github.io/W1D2/image/silverware.jpg');
	background-attachment: fixed;
}
h1,h2{
	font-family : 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
	background-color : #F0F0F0;
	color : #A4A400 ;
	text-decoration : underline;
    letter-spacing: 0.25em;
}
h1{	
	text-align : center;
	font-size : 22pt;
}
h2{
	font-size : 18pt;
}
p{
	font-family : "Georgia";
}
p.strike span{
	text-decoration:line-through;
}

abbr{
	text-decoration : none;
}
li{
	font-family : "Georgia";
}
pre.quote{
    font-style: italic;
    background-color: #FFFFA8;
}
.validation{
    float: right;
}
.copyright{
    clear: both;;
    float: right;

}